@font-face {
    font-family: 'buts';
    src: url("../assets/font/ValorantFont.ttf");
}

/* *{
    transition: 0.3s;
} */
#clicking_page{
    display: none;
}


/* body{
    zoom: 100%;
    background-color: black;
    margin: 0;
    overflow: hidden;
    cursor: crosshair;
} */

#clicking_back{
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    object-fit: cover;
    transform: scale(1.035);
    opacity: 0.4;
}
#clicking_head{
    position: absolute;
    top: 2.5%;
    left: 3%;
    font-family: 'buts';
    color:rgba(255, 255, 255, 0.899);
    letter-spacing: 5px;
    font-size: 50px;
}
#clicking_para{
    color: rgba(255, 255, 255, 0.680);
    width: 550px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    position: absolute;
    top: 14%;
    left: 3.5%;
    letter-spacing: 0.4px;
}
#clicking_event_head{
    color: rgba(255, 255, 255, 0.774);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 33%;
    left: 3.5%;
}
#clicking_line_design{
    filter: invert(100%);
    position: absolute;
    top: 28%;
    left: 12%;
    width: 200px;
    height: 6px;
    opacity: 0.8;
}
#clicking_main_container{
    position: absolute;
    background-color: rgba(75, 75, 75, 0.3);
    width: 44%;
    height: 85%;
    right: 1%;
    top: 6%;
    border-radius: 10px;
    opacity: 0;
}

#clicking_event_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    top: 39%;
    left: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.clicking_button_common{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 70px;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(188, 188, 188, 0.15);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


#clicking_main_container_head{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 4%;
    left: 4%;
    margin: 0;
}

#clicking_main_container_content{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 4%;
    top: 7%;
    width: 88%;
}
#clicking_main_container_preview_head{
    color: rgba(255, 255, 255, 0.644);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 21%;
    left: 4.5%;
    font-size: 17.5px;
}
#clicking_main_container_preview{
    width: 300px;
    position: absolute;
    top: 28.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

#start_clicking{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.068);
    padding: 9px 11px 5px 11px;
    font-family: 'buts';
    font-size: 22px;
    opacity: 0.7;
    border-radius: 10px;
}

#clicking_line_design2{
    filter: invert(100%);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 6px;
    opacity: 0.7;
}
#clicking_note{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.67);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 64%;
    left: 5%;
}
#clicking_note_list{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 67.5%;
    left: 1%;
    line-height: 26px;
}

#go_back_clicking{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.583);
    position: absolute;
    bottom: 10%;
    left: 4%;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#go_back_clicking:hover{
    color: rgba(255, 255, 255, 0.700);
}

@media(max-height:800px){
   #clicking_head{
    font-size: 45px;
   }
   #clicking_para{
    font-size: 14px;
   }
   .clicking_button_common{
    height: 50px;
   }
   #clicking_event_head{
    font-size: 25px;
   }
   #clicking_line_design{
    top: 30%;
   }
   #clicking_line_design2{
    top: 63%;
   }
   #clicking_main_container_head{
    font-size: 20px;
   }

   #clicking_main_container_content{
    font-size: 13px;
   }

   #clicking_main_container_preview_head{
    top: 24%;
    font-size: 15px;
   }

   #clicking_main_container_preview{
    top: 32%;
    width: 220px;
   }

   #clicking_note{
    font-size: 14px;
   }
   #clicking_note_list{
    font-size: 13px;
   }
   #start_clicking{
    font-size: 15px;
   }
}

@media(max-height:600px){
    #clicking_head{
        font-size: 43px;
    }
    #clicking_para{
    font-size: 12px;
    }
    .clicking_button_common{
    height: 48px;
    }
    #clicking_event_head{
    font-size: 23px;
    }
    #clicking_line_design{
    top: 28%;
    }

    #clicking_main_container_head{
    font-size: 18px;
    }

    #clicking_main_container_content{
    font-size: 11px;
    }

    #clicking_main_container_preview_head{
    top: 24%;
    font-size: 13px;
    }

    #clicking_main_container_preview{
    top: 32%;
    width: 210px;
    }
    #clicking_note{
    font-size: 12px;
    }
    #clicking_note_list{
    font-size: 11px;
    }
    #start_clicking{
    font-size: 10px;
    }
    #go_back_clicking{
        bottom: 2%;
    }
}