#settings_page{
    display: none;
}
#settings_back{
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0.6;
}
@font-face {
    font-family: 'buts';
    src: url("../assets/font/ValorantFont.ttf");
}
#settings_head{
    font-family: 'buts';
    color: rgba(255, 255, 255, 0.9);
    font-size: 55px;
    position: absolute;
    left: 3%;
    top: 5%;
    letter-spacing: 8px;
    margin: 0;
}
#settings_container{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 40%;
    height: 400px;
    width: 600px;
    border: 0px solid white;
}
.settings_elements{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#audio_settings{
    color: white;
    left: 50%;
    top: 30%;
}
#ball_control_settings{
    color: rgba(255, 255, 255, 0.326);
    left: 50%;
    top: 50%;
}

#training_settings{
    color: rgba(255, 255, 255, 0.326);
    left: 50%;
    top: 70%;
}
#goback_settings{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 15px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    bottom: 10%;
    left: 10%;
}